* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  font-family: "Veranda", sans-serif;
  background: linear-gradient(to right, #6cff52, #3ec5ff);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/*mismong calculator body*/
.calculator {
  background: #2d2d2d;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8); /*shadow boxing ng ni ippo*/
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*ung textbox ng calcu*/
input[type="text"] {
  width: 100%;
  height: 60px;
  font-size: 26px;
  font-family: "Veranda", monospace;
  text-align: right;

  padding: 15px;
  border: 5px solid;
  border-radius: 8px;
  background-color: #e0e0e0;
  color: black;
  margin-bottom: 20px;

  overflow-x: auto; /*para pag sumobra*/
}

/* ginawang grid para equal spacing tsaka maganda tignan pati madali i chuchu */
.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px; /* Spacing ng buttons */
}

/* General button style */
button {
  padding: 10px 0;
  width: 70px;
  height: 50px;
  margin: 5px;
  outline: none;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* Special style for function buttons */
.function {
  color: #fff; /* White text color */
  font-weight: bold; /* Makes the text bold */
}

/* Style ng operations buttons */
.operator {
  color: #fff; /* White text color */
}

/* Style ng equals button */
.equals {
  background-color: #3db328;
  font-weight: bold;
}

.removal {
  /*style ng erase*/
  background-color: #ff3d3d;
  font-weight: bold;
}
